<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /bwd-new/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /bwd-new/index.html [L]
</IfModule>